<h2>Höchste Punktzahlen:</h2>
<table class="table table-striped">

<% User.order("points desc").limit(10).each do |user| %>
	<tr><td><%= user.name%>
		</td>
		<td><span class="badge badge-success"><%= user.points %></span></td>
</tr>
<%end%>
</table>
